{% extends "shared/layout.html" %}

{% block maincontent %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Canadian Experience</h1>
                
                <p2>
                    This program was my final project for CSE 335 and will make simple south park like animations. 
                    It was coded in C++ using wxWidgets for graphics and Box2D in order to implement physics for the machines in 
                    the background.
                </p2>
            <button class="resume__btn"><a href="https://github.com/Joe-Khalaf/Canadian-Experience"> See the Code! </i> </a></button>
            
            </div>
            <div class="main__img--container">
                <img src="../static/main/images/canadianexperiencedemovid.gif" alt="gif" id="main__img">
                <img src="../static/main/images/335 Project 2 UML.jpg" alt="img" id="main__img">
            </div>
        </div>
    </div>
{% endblock %}
