{% extends "shared/layout.html" %}

{% block maincontent %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Connect-4 AI</h1>
                <p2>
                    In this project I collaborated with a team of 5 other students to create an AI that can play connect-4. We created various models
                    such as CNN, MLP, SVM, Reinforcement Learning, and Binary Tree.
                </p2>
                <p></p>
                <p2>
                    Our project was voted 1st place in the class!
                </p2>
            <button class="resume__btn"><a href="https://github.com/kjowak/cse-404-fs24-connect-four-bot"> See the Code! </i> </a></button>
            <button class="resume__btn"><a href="../static/main/files/Connect-4 Written Report.pdf"> Learn More! </i> </a></button>
            
            </div>
            <div class="main__img--container">
                <img src="../static/main/images/connect4.jpg" alt="img" id="main__img">
            </div>
        </div>
    </div>
{% endblock %}
