{% extends "shared/layout.html" %}

{% block maincontent %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Communicate.AI</h1>
                <p2>
                    This is a python program that can be integrated into a live camera feed to translate what people are saying
                    and subtitle them in a different langauge in real time. 
                </p2>
                <p></p>
                <p2>
                    My team and I made this code using google cloud API for MHacks 16, a University of Michigan Hackathon.
                </p2>
            <button class="resume__btn"><a href="https://github.com/ankitmudunuri/mhacks16"> Check it out! </i> </a></button>
            <button class="resume__btn"><a href="../static/main/files/MHacks2023 Presentation.pptx"> PPT Explanation </i> </a></button>
            

            </div>
            <div class="main__img--container">
                <img src="../static/main/images/rock1.png" alt="pic" id="main__img">
                <img src="../static/main/images/rock2.png" alt="pic" id="main__img">
                <img src="../static/main/images/rock3.png" alt="pic" id="main__img">
            </div>
        </div>
    </div>
{% endblock %}