{% extends "shared/layout.html" %}

{% block extracss %}
<link rel="stylesheet" href="/static/piano/css/piano.css">
{% endblock %}

{% block maincontent %}
    <div class="piano">
        <p>"Behold piano great and old, it's master slumbers in far off cold, 
            If you wish to see anew, call out to it - we see you."</p>
            
        <div id="piano-container">
            <div id="piano">
                <div class="white-key" id="keyA"><span class="key-label">A</span></div>
                <div class="black-key" id="keyW"><span class="key-label">W</span></div>
                <div class="white-key" id="keyS"><span class="key-label">S</span></div>
                <div class="black-key" id="keyE"><span class="key-label">E</span></div>
                <div class="white-key" id="keyD"><span class="key-label">D</span></div>
                <div class="white-key" id="keyF"><span class="key-label">F</span></div>
                <div class="black-key" id="keyT"><span class="key-label">T</span></div>
                <div class="white-key" id="keyG"><span class="key-label">G</span></div>
                <div class="black-key" id="keyY"><span class="key-label">Y</span></div>
                <div class="white-key" id="keyH"><span class="key-label">H</span></div>
                <div class="black-key" id="keyU"><span class="key-label">U</span></div>
                <div class="white-key" id="keyJ"><span class="key-label">J</span></div>
                <div class="white-key" id="keyK"><span class="key-label">K</span></div>
                <div class="black-key" id="keyO"><span class="key-label">O</span></div>
                <div class="white-key" id="keyL"><span class="key-label">L</span></div>
                <div class="black-key" id="keyP"><span class="key-label">P</span></div>
                <div class="white-key" id="keySemi"><span class="key-label">;</span></div>
            </div>
            <div id="piano-title">The Great Old One</div>
            <div id="awakening-image" style="display:none;">
                <img src="../static/piano/images/texture.jpeg" alt="The Great Old One">
            </div>
        </div>
        
    </div>
{% endblock %}


{% block extrajs %}
<script src="/static/piano/js/piano.js"></script>
{% endblock %}