{% extends "shared/layout.html" %}

{% block maincontent %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Trello-Like Website</h1>
                <p2>
                    This project was my final exam for my website development class. It is very similar to the existing website Trello, 
                    which is used for planning and managing team projects.
                </p2>
                <p></p>
                <p2>
                    NOTE: you will need to "login" to to try this website, however, you can put in any fake email and password you would like.
                </p2>
            <button class="resume__btn"><a href="https://exam-166576446621.us-central1.run.app/login?next=http://exam-166576446621.us-central1.run.app/home"> Try it out! </i> </a></button>
            
            </div>
            <div class="main__img--container">
                <img src="../static/main/images/trello.png" alt="img" id="main__img">
            </div>
        </div>
    </div>
{% endblock %}
