{% extends "shared/layout.html" %}

{% block maincontent %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Wordle Help</h1>
                
                <p2>
                    This app filters through a list of english words in order to find which ones are still available for use in 
                    a wordle game. To use, input your words and whether wordle marked them as green or yellow.
                </p2>
            <button class="resume__btn"><a href="https://studio.code.org/projects/applab/PMDHjyB615LK20piAnCM1VyxHUu891zsJvCOjpAeE9g"> Try it out! </i> </a></button>
            
            </div>
            <div class="main__img--container">
                <img src="../static/main/images/WordleHelpPhoto.png" alt="pic" id="main__img">
            </div>
        </div>
</div>
{% endblock %}